{% load staticfiles %}

<html>

<head>
    <meta charset="UTF-8">
      <title>Front page</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/S/maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=El+Messiri|Open+Sans+Condensed:300,700|Rubik+Mono+One|Ubuntu&amp;subset=cyrillic" rel="stylesheet">

</head>
<body>
    <div class="page-header">
        <h1><a href="/">Spreadingmind</a></h1>
    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>


</body>
</html>